body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  font-size: 2rem;
  color: #fe424d;
}

.nav-link {
  color: #333;
}

.f-info-links a {
  text-decoration: none;
  color: #222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.f-info-socials {
  width: 100%;
  font-size: 1.25rem;
}

.f-info-socials i {
  margin-inline: 0.25rem;
}

/* Cards */
.listings-card {
  border: none;
  margin-bottom: 1.5rem;
}

.listing-link {
  text-decoration: none;
}

.card-title {
  font-size: 1rem;
}

.card-img {
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0.25rem;
  font-size: 0.875rem;
}

.card-text {
  font-weight: 400;
}

.card-img-overlay {
  background-color: white;
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
}

.cus-btn {
  background-color: #fe424d;
  border: none;
  margin-block: 0.25rem;
}

.cus-btn:hover {
  background-color: #ff9097;
}

.show-img {
  height: 20rem;
}

/* Map */
#map {
  height: 400px;
  width: 60vw;
}

.marker {
  background-image: url("https://cdn-icons-png.flaticon.com/128/10307/10307931.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: background-image 2s ease;
}

.marker::after {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.2);
  pointer-events: none;
}

.marker:hover {
  background-image: url("https://cdn-icons-png.flaticon.com/128/11649/11649511.png");
  background-color: transparent;
}

#filters {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.filter {
  flex-grow: 1;
  opacity: 0.7;
  margin-block: 1.5rem;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
  margin: 0;
}

.hidden {
  display: none;
}

.search-btn {
  border-color: #fe424d;
  color: #fe424d;
  border-radius: 1.5rem;
}

.search-btn:hover {
  color: white;
  background-color: #fe424d;
  border-color: #fe424d;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
  border-radius: 25px;
}

.search {
  border-radius: 1.5rem;
}
