<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>EJS Template</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus dicta cum sapiente voluptates totam libero doloremque consequatur fugiat? Accusantium officia asperiores quod distinctio, eveniet molestias, voluptate illum architecto aspernatur recusandae voluptatum inventore deserunt, a repellat ad delectus minima nesciunt amet! Incidunt reprehenderit ipsa quae, doloribus dolor inventore hic vero omnis nihil consectetur corporis a quo debitis voluptates molestias reiciendis.</p>
    <button>click me</button>
</body>
</html>