<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h1>Delete</h1>
    <form action="/user/delete?_method=delete" method="post">
        <label for="username">
            Username: 
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </label>
        <br>
        <label for="password">
            Password: 
            <input type="password" name="password" id="password" placeholder="Enter password">
        </label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>