<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/user/<%= result.id %>/edit?_method=patch" method="post">
        <label for="username">
            Username: 
            <input type="text" value="<%= result.username %>" name="username" id="username" placeholder="Enter Username">
        </label>
        <br>
        <label for="email">
            Email:
            <input type="email" value="<%= result.email %>" name="email" id="email" placeholder="Enter Email">
        </label>
        <br>
        <label for="password">
            Password: 
            <input type="password" name="password" id="password" placeholder="Enter password">
        </label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>