<%- layout('/layouts/boilerplate') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h2>Create a New Listing</h2>
      <form
        action="/listings"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="title" class="form-label"> Title: </label>
          <input
            type="text"
            name="listing[title]"
            id="title"
            placeholder="Enter title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
          <div class="invalid-feedback">Enter a valid username.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"> Description: </label>

          <textarea
            name="listing[description]"
            id="description"
            placeholder="Enter description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Description is required.</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label"> Image URL: </label>
          <input
            type="url"
            name="listing[image]"
            id="image"
            placeholder="Enter image url"
            class="form-control"
          />
          <div class="invalid-feedback">Image is required.</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label"> Price: </label>
            <input
              type="number"
              name="listing[price]"
              id="price"
              placeholder="Enter Price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price is required.</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label"> Country: </label>
            <input
              type="text"
              name="listing[country]"
              id="country"
              placeholder="Enter Country name"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country is required.</div>
          </div>
        </div>
        <div>
          <label for="location" class="form-label"> Location: </label>
          <input
            type="text"
            name="listing[location]"
            id="location"
            placeholder="Enter Location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location is required.</div>
        </div>
        <button class="btn btn-dark cus-btn">Add Listing</button>
      </form>
    </div>
  </div>
</body>
